---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/#publications" />
    <link rel="canonical" href="/#publications" />
    <title>Redirecting…</title>
    <script>window.location.replace('/#publications');</script>
  </head>
  <body>
    <p>Redirecting to <a href="/#publications">publications</a>…</p>
  </body>
</html>
